
/*--- Template Styles --*/

.custom-pattern {
background: linear-gradient(45deg,#0000 calc(25%/3), #e9e9e9 0 calc(50%/3),
      #0000 0 calc(250%/3), #e9e9e9 0 calc(275%/3),
      #0000 0),linear-gradient( 45deg,#e9e9e9 calc(25%/3), #0000 0 calc(50%/3),
      #e9e9e9 0 25%, #0000 0 75%,
      #e9e9e9 0 calc(250%/3), #0000 0 calc(275%/3),
      #e9e9e9 0),
      linear-gradient(-45deg,#0000 calc(25%/3), #e9e9e9 0 calc(50%/3),
      #0000 0 calc(250%/3), #e9e9e9 0 calc(275%/3),
      #0000 0),linear-gradient(-45deg,#e9e9e9 calc(25%/3), #0000 0 calc(50%/3),
      #e9e9e9 0 25%, #0000 0 75%,
      #e9e9e9 0 calc(250%/3), #0000 0 calc(275%/3),
      #e9e9e9 0)
      #dedede;
background-size: 20px 20px;
background-position: 0 0, 10px  10px;
}

h1, h2, h3, h4, h5, h6 {
    color: #1c6724 !important;
	font-weight: 800 !important;
}

p {
  font-size: 1.3rem;
}

#g-main th,
#g-sidebar th,
#g-footer th,
#g-main td,
#g-sidebar td,
#g-footer td,
#g-main span,
#g-sidebar span,
#g-footer span,
#g-main span a,
#g-sidebar span a,
#g-footer span a {
  font-size: 1.3rem;
}

table.shop_table tbody tr td {
  border: 0;
}

a {
    text-decoration: none !important;
    background-image: linear-gradient(currentColor, currentColor) !important;
    background-position: 0% 100% !important;
    background-repeat: no-repeat !important;
    background-size: 0% 2px !important;
    transition: background-size .3s !important;
}

a:hover {
  color: #fa8f2a;
}

h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover,
h1 a:focus, h2 a:focus, h3 a:focus, h4 a:focus, h5 a:focus, h6 a:focus,
p a:hover, 
p a:focus,
span a:hover,
span a:focus,
#principal-mega-menu a:hover,
#principal-mega-menu a:focus {
    background-size: 100% 2px !important;
    color: #fa8f2a;
}

/*Scrollbars styling*/
/*-----------------*/

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #1c6724;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 14px;
}

*::-webkit-scrollbar-track {
  background: #dedede;
}

*::-webkit-scrollbar-thumb {
  background-color: #1c6724;
  border-radius: 20px;
  border: 3px solid #dedede;
}

#principal-mega-menu a:hover, #principal-mega-menu a:focus {
  color: none !important;
}


 a.btn, a.button, button {
	color: #e7e7e7 !important;
	background: #1c6724 !important;
}

a.btn:hover, a.button:hover, button:hover,
a.wp-block-button__link:hover {
	color: #ffffff !important;
	background: #ff7c00 !important;
}

hr {
    border-bottom: 3px solid #ababab !important;
}

/*Shadows*/
button, a.btn {
	box-shadow: 0px 3px 4px #19191945 !important;
}

/*Custom General Classess*/

.custom-bg-dark-green {
  background-color: #1c6724 !important;
}

.custom-light-background {
    background-color: #e7e7e7 !important;
}

.custom-gray-background {
	background: #dedede !important;
	margin-bottom: 12px;
}

.custom-red-background {
	background-color: #e52023 !important;
}

.custom-separator-1 {
	border-bottom: 0.015rem solid;
	margin-bottom: 2.3rem;
}

.custom-separator-2 {
    border-bottom: 0.15rem solid;
    margin-bottom: 2.3rem;
}

.custom-separator-3 {
	border-bottom: 0.20rem solid;
	margin-bottom: 2.3rem;
}

.custom-border-left-1 {
	border-left: 0.015rem solid;
}

.custom-border-left-2 {
	border-left: 0.15rem solid;
}

.custom-border-left-3 {
	border-left: 0.20rem solid;
}
 
.custom-color-green {
	color: #288231;
}

.custom-color-dark-green {
	color: #1c6724 !important;
}

.custom-color-light {
	color: #e7e7e7 !important;
}

.custom-color-red {
  color: #e52023;
}


/*For slider, hero images and similar than head a page*/
.margin-top {
  margin-top: -64px !important;
}




/*/Custom General Classess*/



#logo-veggycommons div.g-content,
#header-slogan div.g-content, 
#header-slogan div.g-content h4,
#separator div.g-content,
#secundary-menu div.g-content,
#log-logout div.g-content, #date div.g-content,
#social-networks div.g-content,
#home-slider div.g-content,
#categories div.g-content,  
#footer div.g-content, #search div.g-content {
    padding-top: 0.26rem;
    padding-bottom: 0.26rem;
    margin-top: 0.26rem;
    margin-bottom: 0.26rem;

}

#g-loginform {
  align-items: center;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  vertical-align: middle;
}

.img-fluid-logo {
 max-width: 100%; 
 height: auto;
 width: 260px;
}

#header-slogan h4 {
	color: #1c6724 !important;
}

.light-separator {
    border-bottom: 0.15rem solid;
    box-shadow: 0 0.035rem #ffffff;
    color: #d9d9d9;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    opacity: 1;
}

.dark-separator {
	border-bottom: 0.15rem solid;
	box-shadow: 0 0.011rem #dedede;
	color: #1c6724; 
	margin-top: 0.2rem;
	margin-bottom: 0.2rem;
	opacity: 1;
}

#secundary-menu div ul {  
	margin-top: 0;
	margin-left: 0;
}

#footer ul {
	flex-direction: column;
	margin-left: unset;
}

#footer ul li {
	margin: .2rem;
	padding: 4px 29px 4px 29px;
}

#secundary-menu div ul li {
	color: #288231;	
}

#footer ul li a {
	margin: inherit;
	padding: 0.75rem !important;
}

#secundary-menu div ul li a, 
#footer ul li a {
	border-radius: 0.1875rem;
	font-family: "roboto", sans-serif;
	font-size: 1rem;

	font-weight: 700;
	padding: 0.27rem;
}

#log-logout div.g-content,
#date div.g-content, 
#social-networks div.g-content {
	align-items: inherit;
	display: flex;
	justify-content: center;
}

#g-navigation {
    z-index: 1000 !important;
}

#g-navigation .g-social a {
	background-color: #d2d2d2 !important;
	color: #1c6724 !important;
}

#social-networks log-logout form#g-loginform {
	display: flex;
}

#log-logout form#g-loginform div.greeting, 
#log-logout form#g-loginform div.logout-button {
	margin: 0 0.5rem;
}

#log-logout form#g-loginform div.logout-button input.button {
	background-color: #1c6724;
    color: #e7e7e7;
	font-size: 0.79rem;	
	padding: 0.3rem; 
}

#log-logout form#g-loginform div.logout-button input.button:hover {
	background-color: #fa8f2a; 
}

#log-logout form#g-loginform div.greeting p {
    font-size: small;
    font-weight: 500;
	margin: 0 0;
    text-align: center;
}

#search .search-form input.search-field {
	height: 2.2rem;
}

#search .button {
	background-color: #288231;
	padding: 0.35rem 1rem;
}

#search .button:hover {
	background-color: #fa8f2a;
}

.image-background-search-form {
    background-image: url(/../wp-content/uploads/2021/11/food.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.90;
}

/* MDB Bootstrap Seudo Elemets*/

.accordion-button:after, 
.accordion-button:not(.collapsed):after {
  background-color: #dedede;
  border-radius: 20px;
  padding: 10px;
}


/* MDB Bootstrap Menu for Directorist */

.dropdown-menu>li {
	background-color: #dedede;
}

.dropdown-menu>li {
	border-width: thin;
    border-style: solid;
    border-color: #c5c5c5;
}

.dropdown-menu>li>a {
	color: #1c6724 !important;
}

/* Bootstrap - Mega Menu Styles */


#g-navigation .g-main-nav .g-toplevel > 
li:not(.g-menu-item-type-particle):not(.g-menu-item-type-module).active {
	background: #fa8f2a !important; 
}

#principal-mega-menu nav ul li a:hover {
	background-color: #24742c !important;
}

#principal-mega-menu nav li a.waves-effect, a.waves-light {
    display: inherit !important;
}

#principal-mega-menu nav li a.waves-effect {
    overflow: inherit;
}

#g-footer #footer a {
	color: inherit;
	font-family: "roboto", sans-serif;
	font-size: 0.93rem;
}

input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"], input:not([type]), textarea {
	background-color: whitesmoke;
    border: 1px solid #b3b3b3;
    box-shadow: inset 0 1px 3px rgb(147 147 147) !important;
}

.custom-control {
	margin-bottom: 9px;
}

/* Customized Mobil Css */

.g-offcanvas-toggle {
	background: #dedede !important;
	border-radius: 3px;
	font-size: 2.3rem !important;
}

#g-mobilemenu-container .g-toplevel li {
	border-bottom: 2.15px solid #154e1b;
}

/*G-Sidebar and G-aside*/

#g-main, #g-sidebar, #g-aside {
	margin-bottom: 3rem;
    padding: 1.5rem 0;
    border: 3px solid gainsboro;
    border-radius: 6px;
}

section .entry-header {
  display: none !important;
}

/*Media Queries*/

@media (min-width: 576px) {
	.meta-date, .meta-author,
    .meta-comments-count, .meta-categories {
    	-ms-flex-preferred-size: 0;
    	flex-basis: 0;
    	-ms-flex-positive: 1;
    	flex-grow: 1;
    	min-width: 0;
    	max-width: 100%;
    }
 }

@media (min-width: 612px) {
	#footer ul {
		flex-direction: inherit;
	}
	#footer ul li, #footer ul li a {
		background: none;
		color: #ffffff ;
	}
}

/*/ Customized Mobil Css */

/**** Clasess *****/
.margin-cero {
 margin: 0 !important;
}

.padding-cero {
  padding: 0 !important;
}













