/*Wordpress Styles*/
/*.entry-title {
    text-align: center;
}*/

/*Breadcrumbs*/
.breadcrumbs {
    z-index: 1;
}
.breadcrumbs .g-content #custom_html-3 .textwidget {
    font-size: inherit;
}
.breadcrumbs .g-content #custom_html-3 .textwidget span {
    background-color: #dadada;
    border-radius: 6px;
    padding: 4px;
}
.breadcrumbs .g-content #custom_html-3 .textwidget span span a {
    border-radius: 6px;
    color: #288231;
}
.breadcrumbs .g-content #custom_html-3 .textwidget span span a, 
.breadcrumbs .g-content #custom_html-3 .textwidget span span .breadcrumb_last {
    padding: 1.5px;
}

/*Gutemberg Styles*/
.alignfull {
    margin: 0 calc(50% - 50vw) 32px;
    max-width: 99.4vw;
    width: auto;
}

.alignwide {
    margin: 0 calc(25% - 25vw) 32px;
    max-width: 100vw;
}

/* Related Posts */

.rel_posts {
	margin-top: 7rem;
}


